# Decision Trees

In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## 1. Decision Tree Regression

In [ ]:
# TODO: Write a regression tree class that can build tree and make prediction
class RegressionTree:
    def __init__(self): pass
    def predict(self, X): pass

In [53]:
df = pd.read_csv('../data/Lab4/study_score.csv')
df

   StudyHours  SleepHours  CoffeeCups  Score
0           1           9           0      3
1           2           8           1      5
2           3           7           1      8
3           4           7           2     12
4           5           6           2     15
5           6           6           3     14
6           7           5           3     10
7           8           5           4      7
8           9           4           4      4
9          10           4           5      2

## 2. Decision Classification

In [ ]:
# TODO: Write a classificatin tree class that can build tree and make prediction
class ClassificationTree:
    def __init__(self): pass
    def predict(self, X): pass